@model IEnumerable<SuperHandbook.DBModel.Superhero>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model) {
    
    <Table class="supertext">
    <tr>
        <td>
            @if (item.Picture != null)
{
    <img src="@Url.Action("GetImage","Movie", new {id = item.Id})" height="100" width="75"  />
}
else
{
    <img src="~/Content/img/image1.JPG" height="100" width="75" />
}
        </td>
        </tr>
        <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodeName)
        </td>
            </tr>
        
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>

        

</table>
}